.container {
  .nav {
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 10px;
    gap: 20px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: sticky;
    top: 10px;
    z-index: 12;
    &__logo {
      cursor: pointer;
      display: flex;
      align-items: center;
    }

    &__links {
      width: 70%;
      display: flex;
      justify-content: flex-end;
    }
    &__Moblinks {
      display: none;
    }
    &__link {
      width: 150px;
      border-left: 2px solid black;
      display: flex;
      justify-content: center;
      cursor: pointer;
      transition: all 0.2s ease;
      &:hover {
        background-color: blue;
        color: white;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .container {
    .nav {
      padding: 8px;
      position: relative;
      &__links {
        display: none;
      }
      &__Moblinks {
        display: flex;
        .menu {
          cursor: pointer;
        }
        .mobileLinks {
          z-index: 12;
          display: none;
          position: absolute;
          left: 0;
          right: 0;
          top: 55px;
          background: rgba(255, 255, 255, 0.952);
          backdrop-filter: blur(5px);
          -webkit-backdrop-filter: blur(5px);
          width: 100%;
          padding: 10px;
          border: 2px solid rgb(0, 0, 0);
          &__link {
            cursor: pointer;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 700px) {
}
