.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  button {
    font-size: 1.2rem;
    padding: 12px 30px;
    font-family: inherit;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.25s ease;
    &:hover {
      opacity: 0.8;
    }
  }
  .showcase {
    min-height: 550px;
    max-width: 1200px;
    display: flex;
    align-items: center;

    &__text {
      width: 60%;
      h1 {
        font-size: 3.5rem;
        line-height: 1;
        font-weight: 400;
      }
      p {
        max-width: 530px;
        font-size: 1.5rem;
        color: rgb(50, 53, 53);
      }
    }
    &__image {
      width: 40%;
    }
    &__buttons {
      display: flex;
      gap: 20px;
    }
  }
  .about {
    margin-bottom: 80px;
    &__box {
      display: flex;
      padding: 0;
      gap: 12px;
      flex-wrap: wrap;
    }
    &__individual {
      min-width: 300px;
      max-width: 320px;
      border: 1.6px solid black;
      margin: 0;
      padding: 30px 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h3 {
        font-size: 2rem;
        font-weight: 300;
        text-transform: uppercase;
        margin: 0;
      }
      p {
        font-size: 1.2rem;
        color: rgb(50, 53, 53);
      }
    }
  }
  .random {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    gap: 20px;
    &__text {
      width: 50%;
      h2 {
        font-size: 3rem;
        font-weight: 400;
        margin: 0;
      }
      p {
        max-width: 530px;
        font-size: 1.5rem;
        color: rgb(50, 53, 53);
      }
    }
    &__card {
      width: 50%;
      display: flex;
      justify-content: center;
    }
  }
}

.buttonPrimary {
  color: white;
  background-color: black;
}
.buttonSecondary {
  color: rgb(0, 0, 0);
  background-color: transparent;
  padding: 12px 30px;
  font-family: inherit;
  border-radius: 30px;
  cursor: pointer;
}
