@keyframes loading {
  from {
    background: rgb(26, 26, 223);
    background: linear-gradient(
      257deg,
      rgb(31, 31, 214) 44%,
      rgba(170, 15, 189, 1) 100%
    );
  }
  to {
    background: rgb(204, 35, 114);
    background: linear-gradient(
      57deg,
      rgb(63, 19, 219) 100% rgb(13, 13, 88) 44%
    );
  }
}

.loader {
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  height: 3px;
  width: 100%;
  animation-name: loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
