.container {
  display: flex;
  justify-content: center;
  min-height: 100vh;

  .formContainer {
    max-width: 550px;
    width: 100%;
    padding: 50px;
    height: fit-content;
    box-shadow: 0 0 22px 0px rgba(68, 68, 85, 0.144);
    .confirm {
      color: green;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      .InputAndLabel {
        width: 100%;
      }
      input {
        margin-top: 4px;
        width: 100%;
        padding: 6px;
        font-size: 22px;
        font-family: inherit;
      }
      button {
        font-family: inherit;
        font-size: 16px;
        padding: 16px 30px;
        width: 100%;
        cursor: pointer;
        background-color: black;
        color: white;
        border: none;
        transition: all 0.2s ease;
        &:hover {
          background-color: rgb(24, 24, 36);
        }
      }

      span {
        color: blue;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .container {
    .formContainer {
      max-width: 100%;
      padding: 40px 15px;
    }
  }
}
